* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
}


/* Add styles to the form container */
.form-container {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  /*height: 50%;*/
}

.container{
  padding: 12px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 13px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}



/* Full-width input fields */
.form-container input[type=text], .form-container input[type=email] {
  width: 100%;
  padding: 13px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}



.form-container input[type=date], .form-container input[type=date] {
  width: 100%;
  padding: 13px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}



/* Set a style for the submit/signUp button */
.form-container .btn {
  background-color: #0f6d12;
  color: white;
  padding: 12x 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
