* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

/*Navigation Bar Style*/
.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background-color: #394867;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
  font-size: 20px;
}
.nav-links {
  list-style: none;
}
/*.logo {

}*/
.nav-links li {
  text-align: center;
  margin: 15px 0px;
}
.navigation-bar li, a, button {
  text-decoration: none;
  color: #9BA4B4;
}
.nav-links li a button {
  width: 100%;
  border-radius: 25px;
  background-color: transparent;
  border: 3px solid #14274E;
  transition: all ease .5s;
}
.nav-links li a button:hover {
  background-color:  #14274E;
  border: 3px solid  #14274E;
  text-decoration: none;
  text-decoration-style: none;
  transform: scale(1.1);
  color: #F1F6F9;
}
  .rightSidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #394867;
    overflow-x: hidden;
    padding-top: 16px;
    color:#9BA4B4;
  }
  
  /* Style sidebar links */
  .leftSidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #9BA4B4;
    display: block;
  }

  .rightSidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #9BA4B4;
    display: block;
  }
  
  /* Style links on mouse-over */
  .leftSidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .leftSidebar {padding-top: 15px;}
    .rightSidebar {padding-top: 15px;}
    .leftSidebar a {font-size: 18px;}
    .rightSidebar a {font-size: 18px;}

  }

  /* Style the header */
.header {
    padding: 10px 186px;
    background: #394867;
    color: #9BA4B4;
    text-align: center;
  }

  .footer {
    padding: 10px 186px;
    background-color: #394867;
    color: #9BA4B4;
    text-align: center;  
  }
  .sweatLogo {
    float: left;
    height: 50px;
    width: 50px;
    object-fit: contain;
  }
  
  /* Page content */
  .content {
    padding: 16px;
    width: 50%;
    margin: 0 auto;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

  .body {
    background: #F1F6F9;
    padding: 10px 186px;
    color: #14274E;
  }

  .randomContent{
    background: #F1F6F9;
    padding: 10px 186px;
    color: #14274E;
  }

  .content + .iframe {
      margin:auto;
      display: block;
  }

