* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

/*Navigation Bar Style*/
.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background-color: #394867;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
  font-size: 20px;
}
.nav-links {
  list-style: none;
}
.nav-links li span {
  font-family: "Audiowide", sans-serif;
}
.website-logo {
  min-height: 150px;
  min-width: 300px;
}
.icon {
  max-height: 30px;
}
.nav-links li {
  text-align: center;
  margin: 15px 0px;
}
.navigation-bar li, a, button {
  text-decoration: none;
  color: #9BA4B4;
}
.home-text::before {
  content: " Home";
}
.notifications-text::before {
  content: " Notifications";
}
.messages-text::before {
  content: " Messages";
}
.profile-text::before {
  content: " Profile";
}
.connections-text::before {
  content: " Connections";
}
.post-text::before {
  content: " Post";
}
.more-text::before {
  content: " More";
}
.nav-links li button, .other button {
  border-radius: 25px;
  background-color: transparent;
  transition: all ease .5s;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px 20px;
}
.other {
  text-align: center;
}
.nav-links li button:hover, .other button:hover {
  background-color:  #14274E;
  text-decoration: none;
  text-decoration-style: none;
  transform: scale(1.1);
  color: #F1F6F9;
}
  .rightSidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #394867;
    overflow-x: hidden;
    padding-top: 16px;
    color:#9BA4B4;
    display: flex;
    align-items: center;
  }
  .right-content {
    margin: 0 auto;
    text-align: center;
  }
  .right-content h4 {
    font-weight: bolder;
    margin: 30px 0px 10px 0px;
  }
  .rightSidebar button {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
    transition: all ease .5s;
  }
  .rightSidebar button:hover {
    background-color: #14274E;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    transform: scale(1.1);
  }
  /* Style sidebar links */
  .leftSidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #9BA4B4;
    display: block;
  }

  .rightSidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #9BA4B4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style links on mouse-over */
  .leftSidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .leftSidebar {padding-top: 15px;}
    .rightSidebar {padding-top: 15px;}
    .leftSidebar a {font-size: 18px;}
    .rightSidebar a {font-size: 18px;}

  }

  /* Style the header */
.header {
    padding: 10px 186px;
    background: #394867;
    color: #9BA4B4;
    text-align: center;
    font-family:Audiowide;
  }
/* Content-Box Title */ 
.h4{
  font-family: Audiowide;
}
/* Style in footer */
  .footer {
    padding: 10px 186px;
    background-color: #394867;
    color: #9BA4B4;
    text-align: center;  
  }
  .sweatLogo {
    float: left;
    height: 50px;
    width: 50px;
    object-fit: contain;
  }
  
  /* Page content */
  .content {
    padding: 16px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .btnReply button {
    color: black;
    padding: 2px 5px;
    border-radius: 10px;
    margin-top: 10px;;

  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

  /*background containing the content boxes */
  .body {
    background: #9BA4B4;
    border-radius: 25px;
    padding: 10px 135px;
    color: #14274E;
  }
/* honestly not sure */
  .randomContent{
    background: #F1F6F9;
    padding: 10px 186px;
    color: #14274E;
  }

  /*Content box is the box containing each post*/
  .content-box{
    border: 3px solid  #14274E;
    border-radius: 25px;
    background-color: #394867;
    color: #9BA4B4;
    padding: 3%;
  }
  /*holds all the content boxes*/
  .content {
    margin: 0 auto;
    display: block;
  }
  /*text after a video or image*/
  .txtCaption{
    padding: 0 5%;
  }
  /*User who posted the content / reply*/
  .txtAuthor{
    font-size: 10px;
  }
  /*the time it was posted*/
  .txtDate{
    font-size: 10px;
  }
  /*Image formating */
  .img{
    padding: 3%;
    float:left;
    width:50%;
    height:100%;
    object-fit:cover;
  }
  /*Box containing the iframe so that you can center and resize the video */
  .video-container { 
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 30px;
    height: 0; 
    overflow: hidden;
  }
  /*the resizing part of the video box */
  .video-container iframe, .video-container object, .video-container embed { 
    position: absolute; 
    padding: 3%;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    border: 0;
  }
/*@media only screen and (min-width: 1200px)
{
  .website-logo {
    transform: scale();
    height: 75px;
    width: 150px;
  }
}*/
@media only screen and (max-width: 600px)
{
  .website-logo {
    transform: scale(.25);
  }
  .home-text::before {
    content: "";
  }
  .notifications-text::before {
    content: "";
  }
  .messages-text::before {
    content: "";
  }
  .profile-text::before {
    content: "";
  }
  .connections-text::before {
    content: "";
  }
  .post-text::before {
    content: "";
  }
  .more-text::before {
    content: "";
  }
}
@media only screen and (min-width: 600px)
{
  .website-logo {
    transform: scale(.40);
  }
  .home-text::before {
    content: "";
  }
  .notifications-text::before {
    content: "";
  }
  .messages-text::before {
    content: "";
  }
  .profile-text::before {
    content: "";
  }
  .connections-text::before {
    content: "";
  }
  .post-text::before {
    content: "";
  }
  .more-text::before {
    content: "";
  }
}
@media only screen and (min-width: 900px)
{
  .website-logo {
    transform: scale(.50);
  }
  .home-text::before {
    content: " Home";
  }
  .notifications-text::before {
    content: " Notifications";
  }
  .messages-text::before {
    content: " Messages";
  }
  .profile-text::before {
    content: " Profile";
  }
  .connections-text::before {
    content: " Connections";
  }
  .post-text::before {
    content: " Post";
  }
  .more-text::before {
    content: " More";
  }
}
@media only screen and (min-width: 1200px)
{
  .website-logo {
    transform: scale(1);
  }
  .home-text::before {
    content: " Home";
  }
  .notifications-text::before {
    content: " Notifications";
  }
  .messages-text::before {
    content: " Messages";
  }
  .profile-text::before {
    content: " Profile";
  }
  .connections-text::before {
    content: " Connections";
  }
  .post-text::before {
    content: " Post";
  }
  .more-text::before {
    content: " More";
  }
}
